.body {
    margin: 0%;
    display: flex;
   
}

.center {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.image {
    width: 100%;

}

.absolute {
    position: absolute;
    /* top: 694px; */
    top: 52vw;
}


.absolute span {
    font-size: 3vw;
}

.absolute span:hover {
    cursor: pointer;
}